.App {
  text-align: center;
  height: 100vh;
  font-family: 'Courier New';
  background-color: #282c34;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 10vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Courier New';
  background-color: #282c34;
}

.description {
  flex-basis: auto;
}

textarea {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  resize: none;
  margin: 10px;
  font-family: 'Courier New';
  font-size: 16px;
}

label {
  display: block;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  height: 30px;
  min-width: 100px;
  letter-spacing: 0;
  vertical-align: middle;
  cursor: pointer;
  border: solid 1px;
  white-space: nowrap;
}

/* Stylying Grammer */
li {
  list-style-type: none;
}
ul,
h3 {
  text-align: left;
}

h3 {
  padding-left: 10px;
}

.grammar,
.example,
#output {
  background-color: white;
  display: block;
  margin: 10px;
  padding: 5px;
}

#output {
  min-height: 400px;
}
